body
  font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif, 'Avenir Next', Quicksand, Arial, 'Yu Gothic', 游ゴシック体, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro'
  /* font-family: 'Avenir Next', Quicksand, Arial, YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 500
  font-size: 99%
  line-height: 2em
  background-color: #ffffe0
  color: #555

header
  overflow: hidden
  width: 100%

/*             .main-nav {
 *             display: flex;
 *             position: relative;
 * 	        height: 44px;
 *             visibility: visible;
 *             height: 5em;
 *             width: 100%;
 *             overflow-x: auto;
 *             -webkit-overflow-scrolling: touch;
 *             }
 *             .main-nav ul {
 * 	        height: 44px;
 *             display: inline-table;
 *             max-width: 100%;
 *             }
 *             .main-nav li {
 *             float: left;
 *             word-wrap: break-word;
 *             display: table-cell;
 *             text-align: -webkit-match-parent;
 *             white-space: nowrap;
 *             padding: 0 12px;
 *             list-style: none;
 *             }

.main-nav
  width: 100%
  margin: 0 auto
  white-space: nowrap
  overflow-y: hidden
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  ul
    display: inline-table
    max-width: 100%
    padding: 0 1rem
  .list li
    display: table-cell
    padding: 4px

main
  margin: 0 auto
  flex: 1
  /* background: #c0f0f0;
  padding: 10px

aside
  width: 30%
  /* background: #f0c0f0;
  padding: 10px

footer
  font-size: smaller
  text-align: center

@media (min-width: 600px)
  header
    margin: 0 auto
    max-width: 800px
  #main-container
    margin: 0 auto
    max-width: 800px
    display: flex
  .main
    margin: 0 10px 0 0

