@import "normalize"
@import "bourbon"
@import "grid-settings"
@import "neat/neat"
@import "base/base"

@import "footer"
@import "dropmenu"

body
  font-family: "Hiragino Maru Gothic W4 JIS2004", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif, 'Avenir Next', Quicksand, Arial, 'Yu Gothic', 游ゴシック体, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro'
  font-weight: 500
  font-size: 99%
  line-height: 2em
  color: #555
  background-image: url("/images/b1.jpg")
  background-color: #555
  background-size: cover

header
  @include outer-container
  overflow: hidden
  width: 100%
  color: white
  a
    color: white
    &:hover
      color: white
  h1
    margin: 1ex 0
    @include media($mobile)
      padding-left: ($mobile-main-text-margin - 3px)

nav
  color: white
  background-color: #434A54
  ul:first-child
    display: flex
    justify-content: flex-end
  ul > li > ul > li
    background-color: #404A52
    padding: 1em 3em
    border: 8px solid #5BE2AC
  ul > li > ul > li
    padding: 1em 3em
  
.header-logo
  text-align: center
  margin: 1em
  height: 400px
  display: flex
  align-items: center
  justify-content: center
  img
    max-width: 50%
    max-height: 260px
    width: auto
    height: auto
  
#main-container
  @include outer-container
  box-shadow: 0px 0px 32px -4px rgba(0,0,0,0.75)

  nav
    a
      color: white

.main-nav
  @include span-columns(9)
  width: 100%
  margin: 0 auto
  white-space: nowrap
  overflow-y: hidden
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  ul
    display: inline-table
    max-width: 100%
    padding: 0 1rem
  .list li
    display: table-cell
    padding: 4px

main
  margin: 0 auto
  padding-bottom: 42px
  background-color: #fff
  h2
    border-bottom: 1px solid #4488AA
    padding: 17px 0 17px ($main-text-margin - 3px)
  h3
    border-left: 3px solid #3886B8
    padding: 7px 0 7px ($main-text-margin - 3px)
    margin: 32px 0 16px 0
  p, ul
    margin: 0 $main-text-margin 1em
  ul
    padding-left: 2em
    list-style-type: disc
.date
  color: black
  font-family: 'Avenir Next', Quicksand, Arial, sans-serif
  /* background-color: #404A52
  /* border: 3px solid #5BE2AC
  /* border-radius: 20px
  font-size: smaller
  text-align: right
  margin: 0 $main-text-margin 1em
  @include media($mobile)
    margin: 0 $mobile-main-text-margin 1em
  @include media($great-wide)
    color: white
    position: absolute
    float: left
    top: 0
    margin-left: -$stick-out-width
    width: $stick-out-width
    padding: 7px 8px
    text-align: right
    line-height: 23px

main
  padding: 1em 0
  position: relative

aside
  width: 30%
  padding: 10px

footer
  @include outer-container
  font-size: smaller
  text-align: center

